<h1>The <%= @desired_stop %> Stop</h1>

<div>Inbound scheduled arrival time: <%= @inbound_scheduled_arrival %></div>
<div>Direction: <%= @direction %></div>
<div>Scheduled departure: <%= @scheduled_departure %></div>
