/*
*= require_tree .
*= require_self
*/

$seashell: #ffffff;

body {
  background-color: $seashell;
}

.top-bar {
  background-color: #67bdcb;
}

.top-bar-section {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.top-bar-section li {
  display: inline-block;
  text-align: left;
  font-size: 40px;
}

.flash {
  padding: 1em;
  background-color: #3b9089;
}

.stops {
  background-color: #5c755e;
  color: #fcf2e2;
  margin: 3px;
  @include rounded();
}
